<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.Dataviz.WinForms" version="2.2.1" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms" version="6.3.0" targetFramework="net472" />
  <package id="Bunifu.UI.WinForms.1.5.3" version="2.0.0" targetFramework="net472" />
  <package id="Bunifu.Utils" version="1.0.5" targetFramework="net472" />
  <package id="CircleProgressBar" version="1.0.1" targetFramework="net472" />
  <package id="Guna.Charts.WinForms" version="1.0.9" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.6" targetFramework="net472" />
</packages>